html, body {

	margin: 0;
	padding: 0;
	height: 100%;
}

table {
	width: 100%;
	border: 1px solid purple;
	background-color: purple;
	color: white;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	
}

a:link {

	font-size: 20pt;
	color: white;
	text-decoration: none;
}

a:visited {

	color: white;
	text-decoration: none;
}

a:hover {

	color: orange;
	text-decoration: none;
}

li a {

	display: block;
	padding: 30px;
}

#body {

	height: 85%;
	width: 100%;
	border: 1px solid black;
	overflow: hidden;
}

#accountInfo {

	width: 20%;
	padding: 30px;
	float: left;
}



#drivers {

	width: 35%;
	padding: 10px;
	float: left;
	overflow: hidden;
}

#driversScroll {

	height: 300px;
	border: 1px solid purple;
	overflow: hidden;
	overflow-y: scroll;
}

#sponsors {

	width: 35%;
	padding: 10px;
	overflow: hidden;
	float: left;
}

#sponsorsScroll {

	height: 300px;
	border: 1px solid purple;
	overflow: hidden;
	overflow-y: scroll;
}

footer {

	background-color: orange;
	text-align: center;
	vertical-align: bottom;
}

p5 {
	
	color: purple;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	
}

h2 {
	color: purple;
	font-family: "Times New Roman", Times, serif;
}

p {
	color: purple;
	font-family: "Times New Roman", Times, serif;
	
}
