html, body {

	margin: 0;
	padding: 0;
	height: 100%;
}

table {
	width: 100%;
	border: 1px solid purple;
	background-color: purple;
	color: white;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: lightgray;
	text-decoration: none;
}

a:hover {
	color: orange;
	text-decoration: none;
}

h1 {
	color: purple;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

p1 {
	color: purple;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}
p2 {
	color: purple;
	font-size: 20px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

div {
	padding-bottom: 30%;
	padding-left: 2%;
	padding-right: 2%;
}

footer {

	background-color: orange;
	text-align: center;
	vertical-align: bottom;
}
p5 {
	
	color: purple;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	
}
